.marker {
  width: 48px;
  margin: 0;
  display: inline-block;
  /*border: 1px solid rgb(220, 220, 220);*/
  background-color: white;
  padding: 7px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
}

.marker p {
  text-align: center;
  margin: 0;
}
