.app {
  display: flex;
  height: 100vh;

}

.main {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  align-items: flex-start;
}

.map {
  width: 50%;
  height: 100%;
}
